body {
  text-align: center;
  background-color: rgb(222, 222, 222);
}
.square{
  height: 100px;
  width: 100px;
  border: 2px solid black;
  font-size: 80px;
  text-align: center;
}

.gameboard {
  display: flex;
  width: 320px;
  flex-wrap: wrap;
  margin: 0 auto
}

#playerSelect {
  text-align: center;
}
h1 {
  text-align: center;
}

.restart-btn {
  margin: 25px 0 0 0;
  padding:10px;
  background-color: darkorange;
}

.playerBtn {
  margin-left: 25px;
  margin-right: 25px;
  font-size: 40px;
}

#piece-select {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.pieces {
margin-left: 10px;
margin-right: 10px;
}